---
# Only the main Sass file needs front matter (the dashes are enough)
---

/* path to glyphicons */

$icon-font-path: "_sass/bootstrap/";

/* custom variable */

@import "bootstrap";
@import "syntax";

$footer-height: 60px;
$body-margin-bottom: 30px;

/* because navbar is 50px + 1 for border */

@import "bs-sticky-footer";

@import "blog";
table {
    @extend .table;
}

.jumbotron,
.navbar-transparent {
    background-color: #222;
    color: white;
}

.jumbotron {
    h1 {
        font-size: 32px;
    }
}
#footer > div.navbar {
    height: $footer-height;
    border-radius: 0;
    border: 0;
}
.navbar-transparent {
    .navbar-nav>li>a {
        &:hover {
            background-color: transparent;
            color: white;
        }
    }
}

.img-profile {
    width: 120px;
    height: 120px;
    border: 4px solid white;
}

.navbar-nav.nav.center {
    display: inline-block;
    float: none;
}
