/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height + $body-margin-bottom;
}

/* Set the fixed height of the footer here */
#footer {
  height: $footer-height;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px #ddd solid;
  box-shadow: 0 -4px 12px 0 rgba(0,0,0,.0785);

  .container .text-muted {
    margin: 20px 0;
  }

  > div.navbar {
    border: 0 solid transparent;
    border-color: #e7e7e7;
    margin-bottom: 0;
    border-top-width: 1px;
    height: $footer-height;
    border-radius: 0;
    border: 0;
  }
}

#footer-body {
  margin-top: 8px;
}
